<div class="headerContainer">
  <div class="infoContainer">
    <div>
      <span>Overview Dashboard</span>
      <h1>Trading View</h1>
    </div>
    <div class="coinIconContainer">
      <img class="BTC coin" src="../../../assets/bitcoin.svg" alt="">
      <img class="ETH coin" src="../../../assets/ethereum.svg" alt="">
      <img class="DAS coin" src="../../../assets/dash.svg" alt="">
      <img class="RIP coin" src="../../../assets/ripple.svg" alt="">
    </div>
  </div>
  <div class="personContainer">
    <img class="bell" src="../../../assets/bell.svg" alt="">
    <img class="person" src="../../../assets/person-pouting-light-skin-tone-svgrepo-com.svg" alt="">
  </div>
</div>
